body {
	font-family: "DM Sans", sans-serif;
	font-family: "Nunito Sans", sans-serif;
	background-image: url("./Images/macOS-Sonoma-4K-Wallpaper.jpg");
	background-size: cover;
	margin: 0;
	padding: 0;
}
.menuBar {
	display: flex;
	justify-content: space-between;
	border-top: 0;
	font-weight: bold;
	/* border-bottom: 1000rem; */
	background-color: rgba(255, 255, 255, 0.1);
}
.menuBar ul {
	gap: 0.7rem;
	font-size: 12px;
	color: rgb(255, 255, 255);
}
.menuBar ul li {
	list-style-type: none;
	gap: 1rem;
}
.menuBar ul li a {
	text-decoration: none;
	color: white;
}
.rightMenu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 26px;
}
.menuBar ul li a i {
	color: white;
	font-size: 16px;
}
.leftMenu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container {
	height: 520px;
	width: 62rem;
	background-color: aliceblue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 13rem;
	margin-top: 1rem;
	border-radius: 24px;
	overflow: hidden;
}
.rightSection {
	height: 520px;
	background-color: #ebe9e9;
}
.leftSection {
	width: 1200px;
}
.leftHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.leftHeader ul li {
	color: red;
	list-style-type: none;
}

.signal ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.4rem;
	padding: 0 10px;
}
.signal ul li i {
	font-size: 9px;
}
.green i {
	color: rgb(16, 150, 16);
}
.red i {
	color: rgb(207, 55, 55);
}
.yellow i {
	color: rgb(209, 209, 23);
}

.leftIconRight ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.9rem;
	font-size: 19px;
	margin-right: 1rem;
}
.leftIconRight ul li i {
	color: grey;
}

.ChatIcons {
	display: flex;
	justify-content: space-between;
	/* align-items:flex-start; */
}
.leftIcons {
	color: #797676;
	font-weight: bold;
	font-size: 12px;
}

.leftIcons ul {
	list-style-type: none;
	padding: 0 10px;
	text-align: center;
}
.leftIcons ul li i {
	font-size: 20px;
}
.message li {
	background-color: rgb(219, 229, 233);
	padding: 3px 2px;
	border-radius: 24px 24px;
}
.message li i {
	padding: 3px 2px;
}

.me {
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}
.lowerIcons,
.meGreen {
	position: absolute;
	top: 79%;
	left: 18%;
	transform: translate(-50%, -50%);
}
.lowerIcons {
	margin-top: 3rem;
	z-index: 2;
}
.meGreen {
	margin-top: 4.2rem;
	margin-left: 1.1rem;
	z-index: 2;
}
.question {
	margin-top: 2rem;
}
.lowerIcons li {
	gap: 0.5rem;
}
.meGreen {
	color: rgb(38, 207, 38);
}
.meGreen ul li i {
	font-size: 12px;
	border-radius: 2px solid white;
}
.profile {
	display: relative;
}
.search {
	display: flex;
	justify-content: space-between;
	gap: 0.6rem;
	margin-right: 0.6rem;
	background-color: rgb(225, 232, 235);
	padding: 6px 10px;
	border-radius: 7px;
}
.searchWord {
	font-size: 13px;
	font-weight: bold;
}
.searchIcon1 {
	margin-left: 3rem;
}
.chatStory1 {
	display: flex;
	margin-right: .6rem;
}
.chatStory2 {
	display: flex;
	background-color: rgb(225, 232, 235);
	width: 17.7rem;
	height: 80px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.storyImage {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-top: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.storyImage img {
	aspect-ratio: 2/2;
	object-fit: cover;
	border-radius: 50%;
	width: 100%;
}

.storyIcons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	margin-left: 6px;
}
.storyNameSpace p{
	display: grid;
	text-justify:distribute-all-lines;
	text-indent: 0px;
	/* background-color: red; */

	
	
}
.pName {
	font-weight: bold;
	color: #7e7c7c;
}

.pTime,
.pIcon {
	font-size: 11px;
	color: gray;
}

.pIcon i{
	margin-left: 2rem;

}
.pIcon1{
	background-color: rgb(9, 172, 9);
	width: 14px;
	height: 14px;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	border-radius: 50px ;
	margin-left: 1.3rem;
	padding: 2px 2px;
	font-weight: bold;
	
}

.pChat {
	display: flex;
	font-weight: bold;
	font-size: 12px;
	display: flex;
	gap: 0.5rem;
	color: #b3b3b3;

}
.onlinee{
	padding-bottom: 3rem;
	color: red;
}
.headerRight {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 18rem;
	margin-left: 12px;
}

#online {
	color: rgb(12, 185, 12);
	/* width: 7px;
	/* height: 1px; */
	margin-top: 2px;
}
.activePersonIcon ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
}
.activePersonIcon ul li {
	list-style-type: none;
	gap: 2rem;
}
.activeIconRight {
	margin-right: 2rem;
}
.encrypt {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #fff6cb;
	height: 55px;
	width: 32rem;
	margin-left: 2rem;
	border-radius: 8px;
	margin-top: 1rem;
}

.encMessage {
	font-size: 11px;
	font-weight: bold;
}
.today {
	background-color: #fcf6f6;
	width: 70px;
	height: 35px;
	align-content: center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	margin-left: 6rem;
}
.today p {
	font-weight: bold;
	padding: 0.5rem;
	color: #777575;
}
.senderChat {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
	height: 65px;
	width: 18rem;
	margin-left: 0.8rem;
	margin-top: 1rem;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8%;
}
.senderMessage {
	font-weight: bold;
	font-size: 14px;
	padding: 12px;
}
.senderTime {
	font-size: 12px;
	margin-top: 3rem;
}

.senderChat1{
  display: flex;
	align-items: center;
	background-color: #7ecc8b;
  /* color: white; */
	height: 35px;
	width: 14rem;
	margin-left: 18rem;
	margin-top: 1rem;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8%;
}
.senderTime1 {
	font-size: 12px;
	margin-top: 1rem;
  text-indent: 3px;
}
#senderBlue{
  color: rgb(77, 77, 199);
}

.imageContainer{
  display: flex;
	align-items: center;
	background-color: #e7e7e7;
  
	width: 14rem;
	margin-left: .8rem;
	margin-top: 1rem;
	border-radius: 8px;
	
}
.senderTime2 p{
  font-size: 9px;
}
.imageContainer img{
 width: 150px;
 align-items: center;

}
.senderTime2 {
	font-size: 12px;
	margin-top: 7rem;

  text-indent: 0rem;
}
#share{
  background-color: #b3b3b3;
  padding:5px;
  border-radius: 50px;
  margin-left: 1rem;
  margin-top: 1rem;
  color: rgb(219, 219, 219) ;
}

.buttonSearch ul{
  display: flex;
  justify-content:first baseline;
  align-items: center;
  gap: 1.5rem;
}
.buttonSearch ul li{
  list-style-type: none;
 
}
.typeMessage {
  width: 24rem;
  border-radius: 50px;
  padding: 12px;
  border:none;
  text-indent: 15px;
}